@charset "utf-8";

/*------------------*/
/*-- Fonts --*/
/*------------------*/

@font-face {
    font-family: "Circe";
    src: url("../fonts/Circe-Regular.eot");
    src: url("../fonts/Circe-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Circe-Regular.woff2") format("woff2"),
        url("../fonts/Circe-Regular.woff") format("woff"),
        url("../fonts/Circe-Regular.ttf") format("truetype"),
        url("../fonts/Circe-Regular.svg#Circe-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Circe";
    src: url("../fonts/Circe-Bold.eot");
    src: url("../fonts/Circe-Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Circe-Bold.woff2") format("woff2"),
        url("../fonts/Circe-Bold.woff") format("woff"),
        url("../fonts/Circe-Bold.ttf") format("truetype"),
        url("../fonts/Circe-Bold.svg#Circe-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Circe";
    src: url("../fonts/Circe-ExtraBold.eot");
    src: url("../fonts/Circe-ExtraBold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Circe-ExtraBold.woff2") format("woff2"),
        url("../fonts/Circe-ExtraBold.woff") format("woff"),
        url("../fonts/Circe-ExtraBold.ttf") format("truetype"),
        url("../fonts/Circe-ExtraBold.svg#Circe-ExtraBold") format("svg");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Circe";
    src: url("../fonts/Circe-Light.eot");
    src: url("../fonts/Circe-Light.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Circe-Light.woff2") format("woff2"),
        url("../fonts/Circe-Light.woff") format("woff"),
        url("../fonts/Circe-Light.ttf") format("truetype"),
        url("../fonts/Circe-Light.svg#Circe-Light") format("svg");
    font-weight: 300;
    font-style: normal;
}


/*-------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    color: #000000;
    font-size: 15px;
    line-height: 20px;
}


html,
body {
    min-height: 100%;
    min-width: 100%;
}

body {
    background: #ffffff;
}

.wrapper {
    width: 100%;
    position: relative;
    min-height: 100vh;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
}

header {
    order: 1;
    -webkit-order: 1;
}

.content {
    order: 2;
    -webkit-order: 2;
    flex-grow: 1;
    -webkit-flex-grow: 1;
}

footer {
    order: 3;
    -webkit-order: 3;
    position: relative;
    z-index: 5;
}

.clearfix:after {
    content: ""; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}

* html .clearfix {height: 1%;}
.clearfix {display: block;}

* html .clearfix             { zoom: 1; }
*:first-child+html .clearfix { zoom: 1; }



::-webkit-input-placeholder {color:#9e9e9e;}
::-moz-placeholder          {color:#9e9e9e;}
:-moz-placeholder           {color:#9e9e9e;}
:-ms-input-placeholder      {color:#9e9e9e;}

input,
textarea,
button,
select,
a,
img {
    outline: none;
}

select {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance;
    text-indent: 0.01px;
    text-overflow: "";
}

*::-ms-expand { display: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input {
    -webkit-appearance: none;
    -moz-appearance
}

button {
    -webkit-appearance: none;
    -moz-appearance
}

textarea {
    resize: none;
    overflow: auto;
    -webkit-appearance: none;
    -moz-appearance;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

.animation-delay-onload {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}

.animation-delay {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -o-animation-delay: .3s;
    animation-delay: .3s;
}

/*-------------------------------------------*/
/* ----- DEFAULT STYLES ------ */
/*-------------------------------------------*/

section {
    position: relative;
    padding: 20px 0;
}

h1 {
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 36px;
    line-height: 40px;
    font-weight: 300;
    color: #2c1b08;
}

h1 + p {
    padding-top: 11px;
}

h2 {
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 36px;
    line-height: 42px;
    font-weight: 300;
    color: #2c1b08;
}

.h2 {
    margin: 39px 0 27px 0;
    position: relative;
    text-align: center;
}

.h2 .shape {
    display: inline-block;
    vertical-align: middle;
}

.h2 .shape:after {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background: #e8e8e8;
}

.h2 .left-s {
    position: absolute;
    top: 50%;
    left: 0;
}

.h2 .right-s {
    position: absolute;
    top: 50%;
    right: 0;
}

.h2 h2 {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 0 53px;
}

h3 {
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 29px;
    line-height: 34px;
    font-weight: normal;
    color: #624524;
}

h4 {
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 15px;
    line-height: 25px;
    font-weight: bold;
    color: #2c1b08;
}

h5 {
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 15px;
    line-height: 25px;
    font-weight: bold;
    color: #000000;
}

p {
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 15px;
    line-height: 29px;
    font-weight: normal;
    color: #000000;
}

li {
    list-style: none;
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: normal;
    color: #000000;
}

a {
    text-decoration: none;
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    color: #86bc49;

    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;

}

a:link,
a:visited {
     color: #86bc49;
}

a:active,
a.active {
     color: #868686;
}

a:hover {
     color: #868686;
}

img {
    outline: none;
    border: 1px solid transparent;
    border: none;
}

button:hover,
button:active,
a:hover,
a:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

/*-------------------------------------------*/
/* ----- REUSABLE COMPONENTS ------ */
/*-------------------------------------------*/

.row {
    padding: 0;
    max-width: 1170px;
    margin: 0 auto;
}

.offset-ziro {
    font-size: 0;
    line-height: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.grey {
    color: #6c6c6c;
}

/*-- Buttons --*/

a.green-pill,
button.green-pill {
    display: inline-block;
    vertical-align: top;
    min-width: 157px;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 11px 1% 8px 1%;
    background: #82ba43;
    text-align: center;
    text-transform: uppercase;    
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: 800;
    color: #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    -webkit-transition-property: background;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: background;
    transition-duration: .3s;
    transition-timing-function: ease;

}

a.green-pill:link,
button.green-pill:link,
a.green-pill:visited,
button.green-pill:visited {
     background: #82ba43;
     color: #ffffff;
}

a.green-pill:active,
button.green-pill:active,
a.green-pill.active
button.green-pill.active {
     background: #73af30;
     color: #ffffff;
}

a.green-pill:hover,
button.green-pill:hover {
     background: #73af30;
     color: #ffffff;
}

a.green-pill.big,
button.green-pill.big {
    min-width: 227px;
    padding: 14px 1% 9px 1%;
    font-size: 16px;
    line-height: 26px;
}

/*-- /Buttons --*/

/*-- Links --*/

.more-link:after {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    position: relative;
    top: -1px;
    content: "\f105";
    font-family: 'FontAwesome';
    font-size: 13px;
    line-height: 13px;
}

/*-- /Links --*/

/*-- Icons --*/

.fa-phone {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 18px;
    height: 18px;
    border: 1px solid #82ba43;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.fa-phone:before {
    font-size: 13px;
    line-height: 17px;
    color: #82ba43;
    position: relative;
    top: -1px;
}

.fa-envelope {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 18px;
    height: 18px;
    border: 1px solid #82ba43;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.fa-envelope:before {
    font-size: 9px;
    line-height: 17px;
    color: #82ba43;
    position: relative;
    top: -3px;
}

/*-- /Icons --*/

/*-- Slick Slider --*/

.slick-arrow {
    display: block;
    width: 44px;
    height: 44px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 3;
    -webkit-box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0), 0 2px 6px 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0), 0 2px 6px 0 rgba(0, 0, 0, 0);
    box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0), 0 2px 6px 0 rgba(0, 0, 0, 0);
    background: #ffffff;
    border: 2px solid #696969;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.slick-arrow:hover {
    border: 2px solid #ffffff;
    -webkit-box-shadow: 0 16px 16px 0 rgba(0, 0, 0, .2), 0 2px 6px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 16px 16px 0 rgba(0, 0, 0, .2), 0 2px 6px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 16px 16px 0 rgba(0, 0, 0, .2), 0 2px 6px 0 rgba(0, 0, 0, .1);
}

.slick-prev {
    left: 1%;
    margin: -22px 0 0 0;
}

.slick-next {
    right: 1%;
    margin: -22px 0 0 0;
}

.slick-arrow img {
    width: 20px;
    height: 20px;
}

.slick-prev img {
    margin: 0 1px -3px 0;
}

.slick-next img {
    margin: 0 -4px -3px 0;
}

.slick-dots {
    margin: 20px 0;
    text-align: center;
}

.slick-dots li {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin: 3px 8px;
    border: 1px solid transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.slick-dots li.slick-active {
    border: 1px solid #82ba43;
}

.slick-dots li button {
    display: block;
    width: 6px;
    height: 6px;
    cursor: pointer;
    border: none;
    border-width: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #cccbc0;
    font-size: 0;
    line-height: 0;
}

.slick-dots li.slick-active button {
    background: #82ba43;
}

/*-- /Slick Slider --*/

/*-- Breadcrumbs --*/

.breadcrumbs {
    margin: 4px 0 32px 0;
}

.breadcrumbs ul li {
    display: inline-block;
    vertical-align: top;
}

.breadcrumbs ul li:after {
    display: inline-block;
    vertical-align: top;
    content: "\f105";
    margin: 0 2px 0 9px;
    position: relative;
    top: 4px;
    font-family: 'FontAwesome';
    font-size: 13px;
    line-height: 13px;
}

.breadcrumbs ul li:last-child:after {
    display: none;
}

.breadcrumbs ul li a {
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
}

.breadcrumbs ul li:last-child a {
    color: #868686;
    cursor: default;
}

/*--/Breadcrumbs --*/

/*-- Icons --*/

.cow {
    display: inline-block;
    vertical-align: top;
    width: 24px;
    height: 20px;
    background-image: url(../img/cow.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.cow.active {
    background-image: url(../img/cow_active.svg);
}

.milk {
    display: inline-block;
    vertical-align: top;
    width: 24px;
    height: 26px;
    background-image: url(../img/milk.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.milk.active {
    background-image: url(../img/milk_active.svg);
}

.corn {
    display: inline-block;
    vertical-align: top;
    width: 25px;
    height: 25px;
    background-image: url(../img/corn.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.corn.active {
    background-image: url(../img/corn_active.svg);
}

.vegetables {
    display: inline-block;
    vertical-align: top;
    width: 25px;
    height: 24px;
    background-image: url(../img/vegetables.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.vegetables.active {
    background-image: url(../img/vegetables_active.svg);
}

.clip {
    display: inline-block;
    vertical-align: top;
    width: 9px;
    height: 18px;
    background-image: url(../img/clip.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

/*-- Icons --*/

label {
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: normal;
    color: #000000;
}

input {
    display: block;
    width: 100%;
    height: 44px;
    padding: 0 12px;
    border: 1px solid #d7d7d7;
    background: #f8f8f8;
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 15px;
    line-height: 43px;
    font-weight: normal;
    color: #9e9e9e;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

input:focus {
    border: 1px solid #86bc49;
}

textarea {
    display: block;
    width: 100%;
    height: 104px;
    padding: 0 12px;
    border: 1px solid #d7d7d7;
    background: #f8f8f8;
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 15px;
    line-height: 43px;
    font-weight: normal;
    color: #9e9e9e;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

textarea:focus {
    border: 1px solid #86bc49;
}

/*-------------------------------------------*/
/* ----- HEADER ------ */
/*-------------------------------------------*/

.header-site {
    width: 100%;
    padding: 25px 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
}

.light .header-site {
    padding: 16px 0 17px 0;
}

.header-site .inner-row {
    margin: 0 -1%;
}

.header-site .col {
    display: inline-block;
    vertical-align: middle;
    padding: 0 1%;
}

.header-site .col-1 {
    width: 22%;
}

.header-site .col-2 {
    width: 43%;
}

.header-site .col-3 {
    width: 35%;
}

.logo {
    display: inline-block;
    vertical-align: top;
    width: auto;
    max-width: 234px;
}

.logo img {
    display: block;
    width: 100%;
    height: auto;
}

.logo img.logo-inner {
    display: none;
}

.light .logo img.logo-main {
    display: none;
}

.light .logo img.logo-inner {
    display: block;
}

.menu-item {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 5px 0 5px 15px;
    padding-right: 17px;
}

.menu-item .wt-tr {
    /*display: block;*/
    display: none;
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -6px;
    margin-top: 11px;
    background: #ffffff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.menu-item.active .wt-tr {
    display: block;
}

.menu-item:hover {
    z-index: 2;
}

.menu-item:hover .wt-tr {
    display: block;
}

.menu-item a.item-txt {
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;
    color: #ffffff;

    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;

}

.menu-item a.item-txt:link,
.menu-item a.item-txt:visited {
     color: #ffffff;
}

.menu-item a.item-txt:active,
.menu-item a.item-txt.active {
     color: #86bc49;
}

.menu-item a.item-txt:hover {
     color: #86bc49;
}

.dropdown-btn {
    display: block;
    width: 10px;
    height: 7px;
    background: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 1px;
    overflow: hidden;
    -webkit-transition-property: transform;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: transform;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: transform;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: transform;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: transform;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.dropdown-btn:before {
    display: block;
    content: "\f107";
    font-family: 'FontAwesome';
    font-size: 15px;
    line-height: 16px;
    color: #ffffff;
    position: absolute;
    top: -5px;
    left: -1px;
}

.menu-item:hover .dropdown-btn,
.menu-item.active .dropdown-btn {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.dropdown-menu {
    vertical-align: top;
    display: none;
    min-width: 188px;
    padding-top: 15px;
    position: absolute;
    top: 100%;
    left: 0;
}

.menu-item:hover .dropdown-menu {
    display: block;
}

.dropdown-menu > .inner {
    background: #ffffff;
    padding: 15px 19px 14px 19px;
    text-align: left;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 3px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 2px 3px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 3px 2px rgba(0, 0, 0, .2);
}

.dropdown-menu ul li {
    padding: 3px 0;
}

.dropdown-menu ul li a {
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: #2c1b08;

    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;

}

.dropdown-menu ul li a:link,
.dropdown-menu ul li a:visited {
     color: #2c1b08;
}

.dropdown-menu ul li a:active,
.dropdown-menu ul li a.active {
     color: #86bc49;
}

.dropdown-menu ul li a:hover {
     color: #86bc49;
}

.contacts-list li {
    display: inline-block;
    vertical-align: top;
    padding: 1px 0 1px 8%;
}

.contacts-list li i {
    position: relative;
    top: 2px;
}

.contacts-list li a {
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    color: #ffffff;
}

.contacts-list li a span {
    margin: 0 0 0 10px;
    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.contacts-list li a:link span,
.contacts-list li a:visited span {
     color: #ffffff;
}

.contacts-list li a:active span,
.contacts-list li a.active span {
     color: #86bc49;
}

.contacts-list li a:hover span {
     color: #86bc49;
}

.light .header-site {
    position: relative;
    background: #ffffff;
    border-bottom: 1px solid #ececec;
}

.light .menu-item a.item-txt:link,
.light .menu-item a.item-txt:visited {
    color: #313131;
}

.light .menu-item a.item-txt.active,
.light .menu-item a.item-txt:active {
    color: #86bc49;
}

.light .menu-item a.item-txt:hover {
    color: #86bc49;
}

.light .dropdown-btn:before {
    color: #313131;
}

.light .dropdown-menu ul li a:link,
.light .dropdown-menu ul li a:visited {
     color: #313131;
}

.light .dropdown-menu ul li a:hover {
    color: #86bc49;
}

.light .dropdown-menu ul li a:active,
.light .dropdown-menu ul li a.active {
    color: #86bc49;
}

.light .contacts-list li a:link span,
.light .contacts-list li a:visited span {
     color: #313131;
}

.light .contacts-list li a:link span,
.light .contacts-list li a:visited span {
    color: #313131;
}

.light .contacts-list li a.active span,
.light .contacts-list li a:active span {
    color: #86bc49;
}

.light .contacts-list li a:hover span {
    color: #86bc49;
}

/* ----- Responsive Menu Button ------ */

.respmenubtn-box {
    /*display: block;*/
    display: none;
    width: 50px;
    height: 48px;
    text-align: center;
    border: none;
    z-index: 5;
}

.respmenubtn {
    display: inline-block;
    vertical-align: middle;
    width: 36px;
    height: 36px;
    margin: 6px 0 0 0;
    background: transparent;
    border: 1px solid transparent;
    cursor: pointer;
}

.respmenubtn span {
    display: block;
    width: 27px;
    height: 2px;
    background: rgb(255, 255, 255);
    margin: 0 auto 7px auto;

    -webkit-transition-property: transform, border, background;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: transform, border, background;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: transform, border, background;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: transform, border, background;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: transform, border, background;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.light .respmenubtn span {
    background: rgb(49, 49, 49);
}

.respmenubtn span:last-child {
    margin: 0 auto;
}

.respmenubtn:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

.respmenubtn:hover span {
    background: rgb(134, 188, 71);
}

.respmenubtn.active span {
    position: relative;
    width: 35px;
    top: 1px;
    left: -2px;
    background: rgb(134, 188, 71);
}

.respmenubtn.active span:last-child {
    display: none;
}

.respmenubtn.active span:first-child {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 3px 0 0 0;
    position: relative;
    top: 3px;
    left: -1px;
}

.respmenubtn.active span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* ----- / Responsive Menu Button ------ */

/*-------------------------------------------*/
/* ----- CONTENT ------ */
/*-------------------------------------------*/

/*-- Section 1 - Main Page --*/

.main-slider_sect {
    padding: 0;
}

.main-slider_wrapp {
    position: relative;
}

.main-slider .slick-arrow {
    background: rgba(255, 255, 255, 0);
    width: 60px;
    height: 60px;
    opacity: .7;
}

.slick-arrow:hover {
    background: rgba(255, 255, 255, 1);
}

.main-slider .slide {
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.main-slider .slide:before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .65);
    position: absolute;
    top: 0;
    left: 0;
}

.main-slider .slide .row:before {
    display: inline-block;
    vertical-align: middle;
    content: "";
    height: 100vh;
    width: 1%;
    margin: 0 0 0 -1%;
}

.main-slider .slide-desc {
    display: inline-block;
    vertical-align: middle;
    width: 98%;
    max-width: 590px;
    position: relative;
}

.main-slider .slide-desc h2 {
    padding-bottom: 23px;
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 40px;
    line-height: 47px;
    font-weight: bold;
    color: #ffffff;
}

.main-slider .slide-desc p {
    padding: 14px 0;
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: normal;
    color: #ffffff;
}

.slide-desc a.green-pill {
    margin: 46px 0;
}

.main-slider_wrapp .pagination-append {
    width: 100%;
    position: absolute;
    bottom: 23%;
    left: 0;
}

.main-slider_wrapp .pagination-append .slick-dots {
    margin: 0;
    text-align: left;
}

.thumb-1 {
    display: inline-table;
    vertical-align: top;
}

.thumbnails_1 .thumb-1 {
    width: 25%;
    padding: 10px 1%;
}

.thumb-1 .col-1 {
    display: table-cell;
    vertical-align: middle;
    width: 70px;
}

.thumb-1 .col-2 {
    display: table-cell;
    vertical-align: middle;
    width: auto;
}

.thumb-1 .col-1 img {
    width: auto;
    height: auto;
    max-width: 53px;
}

.thumb-1 p {
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    color: #2c1b08;
}

.main-thumbnails  {
    width: 100%;
    position: absolute;
    bottom: 56px;
    left: 0;
}

.main-thumbnails .thumb-1 p {
    color: #ffffff;
}

/*-- /Section 1 - Main Page --*/

/*-- Section 2 - Main Page --*/

.thumbnails-2 {
    margin: 18px 0 42px 0;
}

.thumb-2 {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin: 15px 0;
}

.thumb-2 .inner {
    padding: 37px 8% 24px 8%;
    border: 2px solid #e8e8e8;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.thumbnails-2 .thumb-2:nth-child(odd) {
    padding-right: 1.3%;
}

.thumbnails-2 .thumb-2:nth-child(even) {
    padding-left: 1.3%;
}

.thumb-2-desc {
    max-width: 296px;
}

.thumb-2-desc h3 {
    padding-bottom: 21px;
}

.thumb-2-desc p {
    line-height: 18px;
}

.thumb-2-desc .green-pill {
    margin: 35px 0 15px 0;
    min-width: 157px;
    padding: 11px 1% 8px 1%;
    background: #82ba43;
    font-size: 13px;
    line-height: 20px;
}

/*-- /Section 2 - Main Page --*/

/*-- Section 3 - Main Page --*/

.grey-bg {
    background: #fbfbfb;
}

.two-cols-templ {
    margin: 24px 0;
}

.two-cols-templ .col-1 {
    width: 68%;
    padding-right: 11%;
}

.two-cols-templ .col-2 {
    width: 32%;
}

.logo-two-cols {
    display: table;
    width: 100%;
    margin: 32px 0 18px 0;
}

.logo-col-1 {
    display: table-cell;
    vertical-align: middle;
    width: 282px;
}

.logo-col-2 {
    display: table-cell;
    vertical-align: middle;
    width: auto;
}

.logo-2 {
    display: inline-block;
    vertical-align: top;
    width: auto;
    max-width: 254px;
}

.logo-2 img {
    display: block;
    width: 100%;
    height: auto;
}

.logo-two-cols p {
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
    color: #2c1b08;
}

.two-cols-templ .col-1 p {
    padding: 11px 0;
}

.thumbnails-3 {
    margin: 15px -4%;
}

.thumb-3 {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    padding: 6px 4%;
}

.thumb-3 p {
    padding: 2px 0 !important;
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    color: #2c1b08;
}

.thumb-3 p.p-1 {
    padding: 0;
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 35px;
    line-height: 44px;
    font-weight: 800;
    color: #83ba43;
    background: -webkit-linear-gradient(top, #aacc35, #84bb42);
    background: linear-gradient(top, #aacc35, #84bb42);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sidebar {
    padding: 27px 0 14px 0;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 1, .05);
    -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 1, .05);
    box-shadow: 0 8px 20px 0 rgba(0, 0, 1, .05);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.sidebar .inner {
    padding: 0 30px;
}

.slider-2_wrapp .bottom-row {
    padding: 14px 30px 0 30px;
}

.slider-2 .slick-dots {
    text-align: left;
    margin: 5px 0 25px -8px;
}

.slider-2 h3 {
    padding-bottom: 13px;
}

.single-thumb {
    border-bottom: 1px solid #f3f3f3;
    padding: 16px 0 20px 0;
}

.single-thumb:last-child {
    border-bottom: none;
    padding-bottom: 5px;
}

.slider-2 .single-thumb {
    padding-top: 0;
    border-bottom: none;
}

.single-thumb p {
    padding: 0 0 12px 0;
    line-height: 20px;
}

.grey {
    color: #868686;
}

.date {
    color: #868686;
}

.single-thumb .img-box {
    height: 168px;
    overflow: hidden;
    position: relative;
    margin: 10px 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.single-thumb .img-box img {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.sidebar .bottom-row {
    border-top: 1px solid #f3f3f3;
    padding-top: 15px;
}

/*-- /Section 3 - Main Page --*/

/*-- Section 4 - Main Page --*/

.slider-3_wrapp {
    margin: 48px 0 71px 0;
}

.slider-3 .slick-prev {
    left: 0;
}

.slider-3 .slick-next {
    right: 0;
}

.thumb-4 {
    display: inline-block;
    vertical-align: top;
    width: 16%;
    text-align: center;
}

.thumb-4 .inner {
    display: inline-block;
    vertical-align: top;
}

/*-- /Section 4 - Main Page --*/

/*-- Section 1 - About Page --*/

.thumbnails_1.thumbnails_1_2 {
    margin: 43px 0 39px 0;
}

.article_2 h4 {
    padding: 12px 0;
}

.article_2 p {
    padding: 15px 0;
}

.thumbnails-3.big {
    margin: 56px 0 14px 0;
}

.thumbnails-3.big .thumb-3 p {
    padding: 5px 0 !important;
}

.thumbnails-3.big .thumb-3 p.p-1 {
    font-size: 55px;
    line-height: 55px;
}

/*-- Section 1 - About Page --*/

/*-- Section 2 - About Page --*/

.thumbnails-ab {
    margin: 0 -2%;
}

.thumb-ab {
    display: inline-table;
    vertical-align: top;
    width: 50%;
    margin: 20px 0;
    padding: 0 2%;
    text-align: left;
}

.thumb-ab-col-1 {
    display: table-cell;
    vertical-align: middle;
    width: 248px;
    padding: 0 2%;
}

.thumb-ab-col-2 {
    display: table-cell;
    vertical-align: middle;
    width: auto;
}

.thumb-ab-col-1 .img-box {
    width: 100%;
    max-width: 204px;
    height: 204px;
    overflow: hidden;
    position: relative;
    background: #e8e8e8;
}

.thumb-ab-col-1 .img-box img {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.thumb-ab p {
    padding: 2px 0;
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: normal;
    color: #000000;
}

.thumb-ab p.p-1 {
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    color: #2c1b08;
}

.thumb-ab p.grey {
    font-size: 15px;
    line-height: 20px;
    color: #6a6a6a;
}

.thumb-ab .thumb-list {
    padding: 7px 0;
}

.thumb-ab .thumb-list li {
    padding: 0;
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: normal;
    color: #000000;
}

.thumb-ab .thumb-list li a {
    padding: 0;
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: normal;
    color: #000000;
}

.thumb-ab .thumb-list li a:link,
.thumb-ab .thumb-list li a:visited {
    color: #000000;
}

.thumb-ab .thumb-list li a:active,
.thumb-ab .thumb-list li a.active {
    color: #86bc49;
}

.thumb-ab .thumb-list li a:hover {
    color: #86bc49;
}

/*-- /Section 2 - About Page --*/

/*-- Section 1 - Direction Page --*/

.thumbnails-2_2  {
    margin: 25px 0 28px 0;
}

.slider-3_wrapp_2 {
    margin: 47px 0 35px 0;
}

/*-- /Section 1 - Direction Page --*/

/*-- Section 1 - Contacts Page --*/

.contacts-templ {
    margin: 27px 0;
}

.contacts-templ .col-1 {
    width: 41%;
    float: left;
    padding-right: 2%;
}

.contacts-templ .col-2 {
    width: 59%;
    float: right;
    padding-left: 2%;
}

.contacts-templ .col-1 > div {
    padding: 10px 0;
}

.contacts-templ h3 {
    padding: 0 0 12px 0;
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: normal;
    color: #000000;
}

.contacts-templ p {
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 20px;
    line-height: 29px;
    font-weight: 300;
    color: #624524;
}

.contacts-templ a {
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 300;
    color: #624524;
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;

}

.contacts-templ a:link,
.contacts-templ a:visited, {
    color: #624524;
}

.contacts-templ a:active,
.contacts-templ a.active {
    color: #86bc49;
}

.contacts-templ a:hover {
    color: #86bc49;
}

.form-block {
    border: 2px solid #e8e8e8;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.pdf-icon {
    display: inline-block;
    vertical-align: top;
    width: 19px;
    height: 21px;
}

.contacts-templ p.icon-p {
    margin: 8px 0;
}

p.icon-p img,
p.icon-p i  {
    vertical-align: middle;
}

p.icon-p a {
    margin-left: 10px;
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    color: #86bc49;
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;

}

p.icon-p a:link,
p.icon-p a:visited, {
    color: #86bc49;
}

p.icon-p a:active,
p.icon-p a.active {
    color: #624524;
}

p.icon-p a:hover {
    color: #624524;
}

.form-block {
    margin: 13px 0;
    padding: 17px 5.7% 31px 5.7%;
}

.form-block h2 {
    padding: 13px 0;
    font-size: 26px;
    line-height: 36px;
    color: #624524;
}

.form-col {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding: 8px 0;
}

.form-row {
    padding: 8px 0;
}

.form-col:nth-child(odd) {
    padding-right: 2%;
}

.form-col:nth-child(even) {
    padding-left: 2%;
}

.form-block label {
    display: block;
    padding-bottom: 7px;
}

.checkbox {
    position: relative;
    margin: 21px 0;
}

.checkbox input {
    opacity: 0;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

.checkbox label {
    padding: 0 0 0 28px;
}

.checkbox label:before {
    display: block;    
    content: "";
    width: 18px;
    height: 18px;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #d7d7d7;
    background: #f8f8f8;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    font-family: 'FontAwesome';
    font-size: 13px;
    line-height: 18px;
    color: #333333;
}

.checkbox input[type="checkbox"]:checked + label:before {
    content: "\f00c";
}

.map-section {
    padding: 9px 0 0 0;
}

.map-box {
    overflow: hidden;
    height: 400px;
}

#map {
    height: 440px;
}

/*-- /Section 1 - Contacts Page --*/

/*- Section 1 - Direction Scot --*/

.direction-tabs {
    margin: 30px 0 10px 0;
}

.direction-tabs .col-1 {
    width: 38%;
    float: left;
    padding-top: 13px;
    padding-right: 2%;
    position: relative;
}

.direction-tabs .col-2 {
    width: 62%;
    float: right;
    padding-left: 3%;
    padding-right: 2%;
}

.tabs-nav_wrapp {
    position: relative;
}

.tabs-nav {
    display: block;
    max-width: 370px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 1, .05);
    -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 1, .05);
    box-shadow: 0 8px 20px 0 rgba(0, 0, 1, .05);
}

.tabs-nav > li {
    padding: 24px 0 2px 0;
    border-bottom: 1px solid #e6e6e6;
}

.tabs-nav > li:last-child {
    border-bottom: none;
}

.tabs-nav li a.tab-link {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 9px 0;
    position: relative;
}

.tabs-nav li a.tab-link p {
    font-size: 18px;
    font-weight: bold;
    color: #82ba43;
    padding: 0 10px 0 30px;
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.tabs-nav li a.tab-link.active p {
    color: #2c1b08;
}

.tabs-nav li a.tab-link.active {
    color: #2c1b08;
}

.tabs-nav li a.tab-link.active:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 0;
    margin: -10px 0 0 0;
    border-style: solid;
    border-width: 6.5px 0 6.5px 6px;
    border-color: transparent transparent transparent #2c1b08;
}

.tabs-nav li .tab-link span {
    display: table-cell;
    vertical-align: top;
    width: auto;
}

.tabs-nav li .tab-link span.icon-box {
    display: table-cell;
    vertical-align: top;
    width: 66px;
    padding: 0 0 0 13%;
}

.tabs-nav li .tab-link i {
    display: inline-block;
    position: relative;
    top: -5px;
}

.tabs-nav li .tab-link.active i {
    display: none;
}

.tabs-nav li .tab-link i.active {
    display: none;
}

.tabs-nav li .tab-link.active i.active {
    display: inline-block;
}

.tabs-nav li .slidedown_wrapp {
    padding: 0 2% 16px 18%;
}

.tabs-nav li .slidedown_wrapp p {
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 15px;
    line-height: 25px;
    font-weight: bold;
    color: #958d83;
}

.tabs-nav li .slidedown_wrapp ul li {
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 15px;
    line-height: 23px;
    font-weight: bold;
    color: #958d83;
}

.tabs-nav li .slidedown_wrapp ul li a {
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 15px;
    line-height: 23px;
    font-weight: bold;
    color: #958d83;

    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;

}

.tabs-nav li .slidedown_wrapp ul li a:link,
.tabs-nav li .slidedown_wrapp ul li a:visited, {
    color: #958d83;
}

.tabs-nav li .slidedown_wrapp ul li a:active,
.tabs-nav li .slidedown_wrapp ul li a.active {
    color: #2c1b08;
}

.tabs-nav li .slidedown_wrapp ul li a:hover {
    color: #2c1b08;
}

.tab-nav_btn {
    /*display: inline-block;*/
    display: none;
    vertical-align: top;
    position: absolute;
    top: -42px;
    left: 0;
}

.tab-nav_btn:before {
    display: inline-block;
    vertical-align: top;
    font-family: 'FontAwesome';
    content: "\f053";
    position: relative;
    left: -10px;
}

.tabs-content {
    padding-left: 20px;
}

.tabs-content .tab h2 {
    padding: 16px 0 23px 0;
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 29px;
    line-height: 32px;
    font-weight: normal;
    color: #624524;
}

.thumbnails-5 {
    max-width: 700px;
    margin: 0 -1%;
}

.thumb-5 {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin: 11px 0;
    padding: 0 1%;
}

.thumb-5 h3 {
    display: block;
    min-height: 46px;
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    color: #2c1b08;
}

.thumb-5 .img-box {
    height: 193px;
    margin: 4px 0 13px 0;
    overflow: hidden;
    position: relative;
}

.thumb-5 .img-box img {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.thumb-5 p {
    padding: 10px 0;
    line-height: 18px;
}

/*- /Section 1 - Direction Scot --*/

/*-- Section 1 - Direction Scot Page --*/

.tabs_2-nav_wrapp {
    overflow: hidden;
}

.tabs_2-nav {
    margin: 0 -17px;
    border-bottom: 1px solid #e6e6e6;
}

.tab_2-pill {
    display: inline-block;
    vertical-align: top;
    min-height: 36px;
    margin: 0 17px;
    position: relative;
    cursor: pointer;
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 15px;
    line-height: 25px;
    font-weight: bold;
    color: #958d83;
}

.tab_2-pill:before {
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    opacity: 0;
    position: absolute;
    bottom: -1px;
    left: 0;
    background: #82ba43;
}

.tab_2-pill.active:before {
    opacity: 1;
}

.tab_2-pill.active {
    color: #2c1b08;
}

.tabs_2 {
    margin: 16px 0 0 0;
}

.tabs_2-content {
    margin: 20px 0 0 0;
}

.tab_wrapp {
    position: relative;
}

.tabradio {
    width: 1px;
    height: 1px;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .01;
    z-index: -1;
}

input.tabradio + .tab_2-tab {
    display: none;
}

input.tabradio:checked + .tab_2-tab {
    display: block;
}

.tab_2-tab p {
    padding: 12px 0;
}

.tab_2-tab .green-pill {
    min-width: 203px;
    margin: 10px 0;
}

/*-- /Section 1 - Direction Scot Page --*/

/*-- Section 1 - New Page --*/

.article-3 img {    
    width: 100%;
    height: auto;
    margin-bottom: 16px;
    background-color: #dddddd;
}

.article-3 h4 {
    padding: 21px 0;
}

.article-3 p {
    padding: 15px 0;
}

/*-- /Section 1 - New Page --*/

/*-- Section 1 - News Page --*/

.thumbnails-7 {
    margin: 21px -15px 10px -15px;
}

.thumb-7 {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    padding: 7px 15px;
}

.thumb-7 .inner {
    display: block;
}

.thumb-7 .img-box {
    height: 208px;
    margin: 12px 0;
    overflow: hidden;
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.thumb-7 .img-box img {
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.thumb-7 p {
    padding: 6px 0;
    line-height: 21px;
}

.more-btn_wrapp {
    margin: 0 0 59px 0;
}

/*-- /Section 1 - News Page --*/

/*-- Section 1 - Vacansy Page --*/

.slidings-blocks {
    margin: 1px 0 37px 0;
}

.sliding-block_wrapp {
    border-bottom: 1px solid #e6e6e6;
}

.sliding-block_wrapp:last-child {
    border-bottom: none;
}

.sliding-block-header {
    display: table;
    width: 100%;
    cursor: pointer;
    padding: 15px 0 13px 0;
}

.header-col-1 {
    display: table-cell;
    vertical-align: top;
    width: 34px;
    padding-top: 2px;
}

.header-col-2 {
    display: table-cell;
    vertical-align: top;
    width: auto;
}

.header-col-2 .inner-col-1 {
    width: 60%;
}

.header-col-2 .inner-col-2 {
    width: 40%;
    text-align: right;
}

.slide-btn {
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    text-align: center;
    background: transparent;
    border: 1px solid #e9e9e9;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.slide-btn:after {
    content: "\f107";
    font-family: 'FontAwesome';
    color: #cccccc;
}

.active .slide-btn,
.slide-btn.active {
    border: 1px solid #85bc47;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.active .slide-btn:after,
.slide-btn.active:after {
    color: #85bc47;
}

.sliding-block-header h3 {
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 25px;
    font-weight: bold;
    color: #2c1b08;
}

.sliding-block-header p.price {
    padding: 0;
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 25px;
    font-weight: bold;
    color: #82ba43;
}

.sliding-box {
    padding: 15px 0 10px 34px;
}

.sliding-box h5 {
    padding: 1px 0;
}

.sliding-box p {
    padding: 1px 0 !important;
}

.sliding-box ul {
    margin: 3px 0;
}

.sliding-box .green-pill {
    min-width: 186px;
    margin: 23px 0;
}

.form_2 {
    padding: 9px 30px 22px 30px;
    border: 2px solid #e8e8e8;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.form_2 h2 {
    padding: 19px 0;
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 26px;
    line-height: 31px;
    font-weight: normal;
    color: #624524;
}

.form_2 label {
    display: block;
    padding: 0 0 7px 0;
}

.upload-block {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    position: relative;
    margin: 3px 0;
}

.upload-block input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.upload-file i {
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 3px;
    margin: 0 9px 0 0;
}

.upload-file p {
    display: inline-block;
    vertical-align: top;
    color: #82ba43;
}

.form_2 .submit {
    margin: 17px 0;
}

/*-- /Section 1 - Vacansy Page --*/

/*-- Section 1 - Offers Page --*/

.tab .slidings-blocks {
    margin-bottom: 53px;
}

.table {
    display: table;
    width: 100%;
    margin: 0 0 5px 0;
}

.table-row {
    display: table-row;
}

.cell {
    display: table-cell;
    vertical-align: top;
}

.cell p {
    padding: 0 !important;
}

.cell-1 {
    width: 180px;
    position: relative;
}

.cell-1 p {
    display: inline-block;
    vertical-align: top;
    background: #ffffff;
    padding: 0 7px 0 0 !important;
    position: relative;
    z-index: 2;
}

.cell-1:after {
    content: "";
    width: 100%;
    position: absolute;
    bottom: 12px;
    left: 0;
    border: 1px dotted #d9d9d9;
}

.cell-2 {
    padding-left: 6px;
}

/*-- /Section 1 - Offers Page --*/

/*-------------------------------------------*/
/* ----- FOOTER ------ */
/*-------------------------------------------*/

.footer {
    background: #2f2f2f;
    padding-top: 44px;
}

.footer .row-1 {
    padding: 25px 0 64px 0;
}

.footer .row-1 .col-1 {
    width: 33%;
    padding-right: 1%;
}

.footer .row-1 .col-2 {
    width: 67%;
    padding-top: 4px;
    padding-left: 1%;
}

.footer .row-1 .col-2 .col-2_1 {
    width: 65%;
    padding-right: 1%;
}

.footer .row-1 .col-2 .col-2_2 {
    width: 35%;
    padding-left: 1%;
}

.footer h3 {
    padding-bottom: 26px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    color: #6e6e6e;
}

.footer p {
    padding: 6px 0 4px 0;
    font-size: 15px;
    line-height: 19px;    
    color: #fefefe;
}

.footer a {
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 15px;
    line-height: 15px;
    font-weight: normal;
    color: #fefefe;

    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;

}

.footer a:link,
.footer a:visited {
     color: #fefefe;
}

.footer a:active,
.footer a.active {
     color: #86bc49;
}

.footer a:hover {
     color: #86bc49;
}

.logo-footer {
    display: inline-block;
    vertical-align: top;
    max-width: 254px;
}

.logo-footer img {
    display: block;
    width: 100%;
    height: auto;
}

.footer .row-2 {
    padding: 21px 0 21px 0;
    border-top: 1px solid #444444;
}

.seo-text_wrapp .seo-text {
    display: inline-block;
    vertical-align: top;
    width: 31%;
}

.seo-text li {
    padding: 7px 0;
}

.seo-text li a {
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 15px;
    line-height: 15px;
    font-weight: normal;
    color: #fefefe;

    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;

}

.seo-text li a:link,
.seo-text li a:visited {
    color: #fefefe;
}

.seo-text li a:active,
.seo-text li a.active {
    color: #86bc49;
}

.seo-text li a:hover {
    color: #86bc49;
}

a.tel-big {
    font-family: "Circe", Arial, Verdana, sans-serif;
    font-size: 28px;
    line-height: 28px;
    font-weight: 300;
    color: #fefefe;

    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;

}

a.tel-big:link,
a.tel-big:visited {
    color: #fefefe;
}

a.tel-big:active,
a.tel-big.active {
    color: #86bc49;
}

a.tel-big:hover {
    color: #86bc49;
}

p.p-copy {
    padding-right: 2%;
    font-size: 14px;
}